.contrasea-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contrasea-thq-userrequest-elm {
  width: 100%;
  height: 540px;
  display: flex;
  padding: 32px 0.00006103515625px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.contrasea-thq-container-elm1 {
  width: 393px;
  height: 440.9861145019531px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contrasea-thq-container-elm2 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.contrasea-thq-container-elm3 {
  gap: 12px;
  width: 154.22222900390625px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.contrasea-thq-container-elm4 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(0, 166, 62, 1);
}
 
.contrasea-thq-x-elm {
  width: 24px;
  height: 24px;
}
 
.contrasea-thq-span-elm {
  width: 102.22222137451172px;
  height: 28px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contrasea-thq-text-elm1 {
  color: rgba(10, 10, 10, 1);
  height: auto;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contrasea-thq-container-elm5 {
  top: 120px;
  left: 0px;
  width: 393px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(229, 231, 235, 1);
}
 
.contrasea-thq-container-elm6 {
  gap: 8.000003814697266px;
  top: 137px;
  left: 1px;
  width: 393px;
  height: 59.98611068725586px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contrasea-thq-h1-elm {
  width: 393px;
  height: 31.98611068725586px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.contrasea-thq-text-elm2 {
  top: -2.888885498046875px;
  left: 42.166656494140625px;
  color: rgba(10, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contrasea-thq-p-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contrasea-thq-form-elm {
  gap: 24px;
  top: 261px;
  left: 12px;
  width: 393px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contrasea-thq-div-elm {
  gap: 8px;
  height: 76px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contrasea-thq-label-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contrasea-thq-text-elm3 {
  color: rgba(16, 24, 40, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contrasea-thq-container-elm7 {
  width: 364px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contrasea-thq-input-elm {
  top: 0px;
  left: 0px;
  color: rgba(113, 113, 130, 1);
  width: 352px;
  height: 48px;
  display: flex;
  padding: 4px 12px 4px 40px;
  overflow: hidden;
  position: absolute;
  font-size: 14px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-radius: 10px;
  background-color: rgba(249, 250, 251, 1);
}
 
.contrasea-thq-mail-elm {
  top: 14px;
  left: 12px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.contrasea-thq-link-elm {
  top: 417.65277099609375px;
  left: 108.94442749023438px;
  width: 175px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contrasea-thq-arrow-left-elm {
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.contrasea-thq-text-elm4 {
  top: -1px;
  left: 19px;
  color: rgba(74, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contrasea-thq-button-elm {
  top: 364px;
  left: 62px;
  width: 268px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 29826200px;
  background-color: rgba(0, 166, 62, 1);
}
 
.contrasea-thq-text-elm5 {
  top: 9.888885498046875px;
  left: 65.33331298828125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contrasea-thq-text-elm6 {
  top: 205px;
  left: 52px;
  color: rgba(106, 114, 130, 1);
  width: 294px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contrasea-link {
  display: contents;
}
 
.contrasea-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.contrasea-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.contrasea-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
