.iniciodesesinmvil-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.iniciodesesinmvil-thq-userrequest-elm {
  width: 100%;
  height: auto;
  display: flex;
  padding: 32px 0.00006103515625px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.iniciodesesinmvil-thq-container-elm1 {
  width: 393px;
  height: 592.9861450195312px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.iniciodesesinmvil-thq-container-elm2 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.iniciodesesinmvil-thq-container-elm3 {
  gap: 12px;
  width: 154.22222900390625px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.iniciodesesinmvil-thq-container-elm4 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(0, 166, 62, 1);
}
 
.iniciodesesinmvil-thq-x-elm {
  width: 24px;
  height: 24px;
}
 
.iniciodesesinmvil-thq-span-elm {
  width: 102.22222137451172px;
  height: 28px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.iniciodesesinmvil-thq-text-elm1 {
  color: rgba(10, 10, 10, 1);
  height: auto;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.iniciodesesinmvil-thq-container-elm5 {
  top: 120px;
  left: 0px;
  width: 393px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(229, 231, 235, 1);
}
 
.iniciodesesinmvil-thq-container-elm6 {
  top: 153px;
  left: 0px;
  width: 393px;
  height: 80px;
  display: flex;
  padding: 0 0 0 0.00006103515625px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.iniciodesesinmvil-thq-container-elm7 {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29826200px;
  justify-content: center;
  background-color: rgba(34, 197, 94, 0.10000000149011612);
}
 
.iniciodesesinmvil-thq-check-circle-elm {
  width: 40px;
  height: 40px;
}
 
.iniciodesesinmvil-thq-container-elm8 {
  gap: 8.000003814697266px;
  top: 257px;
  left: 0px;
  width: 393px;
  height: 111.98611450195312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.iniciodesesinmvil-thq-h1-elm {
  width: 393px;
  height: 31.98611068725586px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.iniciodesesinmvil-thq-text-elm2 {
  top: -2.888885498046875px;
  left: 93.50003051757812px;
  color: rgba(10, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.iniciodesesinmvil-thq-p-elm1 {
  width: 393px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.iniciodesesinmvil-thq-text-elm3 {
  top: -1px;
  left: 1.388885498046875px;
  color: rgba(106, 114, 130, 1);
  width: 391px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.iniciodesesinmvil-thq-p-elm2 {
  width: 393px;
  height: 24px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.iniciodesesinmvil-thq-text-elm4 {
  top: -2.111114501953125px;
  left: 91.27780151367188px;
  color: rgba(16, 24, 40, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.iniciodesesinmvil-thq-container-elm9 {
  top: 400.9861145019531px;
  left: 0px;
  width: 393px;
  height: 72px;
  display: flex;
  padding: 16px 16px 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(249, 250, 251, 1);
}
 
.iniciodesesinmvil-thq-p-elm3 {
  width: 361px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.iniciodesesinmvil-thq-text-elm5 {
  top: -1px;
  left: 5.388885498046875px;
  color: rgba(74, 85, 101, 1);
  width: 351px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.iniciodesesinmvil-thq-button-elm {
  top: 493px;
  left: 33px;
  width: 320px;
  height: 53px;
  display: flex;
  padding: 0.8888890147209167px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 166, 62, 1);
  border-style: solid;
  border-width: 0.8888890147209167px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
 
.iniciodesesinmvil-thq-text-elm6 {
  top: 17px;
  left: 107px;
  color: rgba(0, 166, 62, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.iniciodesesinmvil-thq-link-elm {
  top: 569.6527709960938px;
  left: 108.94442749023438px;
  width: 175px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.iniciodesesinmvil-thq-arrow-left-elm {
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.iniciodesesinmvil-thq-text-elm7 {
  top: -1px;
  left: 19px;
  color: rgba(74, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.iniciodesesinmvil-link {
  display: contents;
}
 
.iniciodesesinmvil-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.iniciodesesinmvil-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.iniciodesesinmvil-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
